html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.damn{
    text-align:start;
    font-size:25px;
    color:#b82626;
    background-color:#3f6385;
    height:50px;
}

body{

    text-align:-webkit-center;
    font-size:large;
    background: url("image/1.jpeg");
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin: inherit;
    align-content: center;

}
input{
    /*margin-right: 300px;*/
    text-overflow:ellipsis;
    width: 350px;

    min-height: 8px;
    background-color: #ffffff;
    border: 1px solid #558891;
    color: #3a5e82;
    padding: 8px 110px;
    font: 16px '幼圆';
    line-height: normal;
    border-radius: 10px;

}
h3{
    margin:60px;
    font-size:40px;
}
.button {
    text-align: center;

    width: 300px;
    min-height: 5px;
    background-color: #48a654;
    border: 1px solid #447881;
    color: #ffffff;
    padding: 8px 11px;
    font: 16px '幼圆';
    line-height: normal;
    border-radius: 10px;
    margin: 20px;
}
a{
    text-decoration:none;
    color:#bdd43c;
    line-height:50px;
}

.quit{

    background: unset;
    border:unset;
    display: inline-block;
    line-height: 26px;
    border-radius: 40px;
    background-color: #ffffff22;
    text-align: start;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #766363bf;
}
.find{
    margin-left:900px;
    background: unset;
    border:unset;
    display: inline-block;
    line-height: 26px;
    border-radius: 40px;
    background-color: #ffffff22;
    text-align: start;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #766363bf;
}
.edit{

    background: unset;
    border:unset;
    display: inline-block;
    line-height: 26px;
    border-radius: 40px;
    background-color: #ffffff22;
    text-align: start;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #766363bf;
}
